[Unit]
Description=gunicorn daemon
After=network.target
[Service]
User=chatuser
Group=www-data
WorkingDirectory=/home/chatuser/AnsibleTestApp/chatapplication/
ExecStart=/home/chatuser/AnsibleTestApp/venv/bin/gunicorn --workers 3 --bind unix:/home/chatuser/AnsibleTestApp/chatapplication/chatapp.sock chatapp.wsgi:application


[Install]
WantedBy=multi-user.target
